.contact-form{
  padding: 100px 0;
  @media (max-width: 480px){
    padding: 50px 0;
  }
  .title-area{
    margin-bottom: 60px;
    @media (max-width: 480px){
      margin-bottom: 30px;
    }
    p{
      span{
        font-family: "Lato";
        font-size: 1.5em;
        font-weight: 700;
        @media (max-width: 480px){
          font-size: 1.25em;
        }
      }
    }
  }
  .form-area{
    .input-area{
      margin-bottom: 30px;
      @media (max-width: 480px){
        margin-bottom: 15px;
      }
      input{
        border: 2px solid black;
        width: 100%;
      }
      input::placeholder{
        padding-left: 15px;
        font-family: "Lato";
        color: black;
        font-size: 1em;
        font-weight: 700;
        @media (max-width: 480px){
          font-size: 18px;
        }
      }

    }
  }
}
