.modal{
    .modal-dialog{
      max-width: 100%;
      padding-left: 15px;
      height: 100%;
      margin: 0;
      padding: 0;
    }

    .modal-header{
        border:none;
        text-align: left;
        padding: 50px 0;
        @media (max-width: 480px){
          padding:25px 0 0 0;
        }
        .title-area{
          display: flex;
        }
    }
    .modal-content{
        // background:url(../../img/textura-blanco.webp) no-repeat center top / contain, var(--negro);
        // border: 2px solid var(--secondaryColor);
        text-align: center;
        overflow: hidden;
    }

    .modal-body{
        padding: 0 0 50px 0;
        .buttons{
          display: flex;
          text-align: left;
          margin-top: 50px;
          @media (max-width: 480px){
            flex-direction: column;
            align-items: center;
          }
          a{
            margin-right: 20px;
            @media (max-width: 480px){
              margin-right: 0;
              margin-bottom: 20px;
            }
          }
        }
        .video-area{
          margin-top: 60px;
          iframe{
            width: 100%;
            height: 600px;
            @media (max-width: 480px){
              height: 300px;
            }
          }
        }
        .video-area::after{
          content: "";
          background-image: url("/img/banner-placeholder.webp");
          position: absolute;
        }
        .text-area{
          margin-top: 60px;
          text-align: left;
          p{
            font-size: 1.5em;
            font-family: "Lato";
            font-weight: lighter;
            @media (max-width: 480px){
              font-size: 1.25em;
            }
          }
        }
        .button-area{
          text-align: left;
          a:hover{
            color: white;
          }
        }
    }









    .circulo{
        position: absolute;
        bottom: -120px;
        left: 0;
        max-width: 80px;
    }
}
