section.contact-form#contacto
  .container
    .col-12
      .title-area
        h2 Contacto
        p
          span Déjanos tus datos para poder contactarte y asesorarte.
      .form-area
        form
          .input-area
            input#fname(type='text' name='fname' placeholder="Nombre Completo")
          .input-area    
            input#ftel(type='tel' name='ftel' placeholder="Teléfono")
          .input-area         
            input#femail(type='email' name='femail' placeholder="Correo electrónico")
          .input-area     
            input#ftext(type='text' name='ftext' placeholder="Déjanos un mensaje")    
          input.button-more(type="submit" value="Quiero saber más")    
           
         
