footer.footer
  .content
    .container
      .col
        a(href="/")
          img(src="/img/header/logo.png", alt="Home - Nav")
        .contact-info
          a(href="tel:+50769154611") +507 6915-4611
          a(href="mailto:management@terrepanama.com") management@terrepanama.com
  .disclaimer
    .container
      .col
        p La imágenes presentadas son ilustraciones artísticas que pueden ser cambiadas por el promotor sin previo aviso.
        .termns 
          a(href="#") TÉRMINOS DE USO 
          p |
          a(href="#") POLÍTICAS DE PRIVACIDAD
          


        
