
head
    link(rel="preload" href="css/styles.min.css" as="style")
    
    meta(charset='utf-8')
    link(rel="shortcut icon" href="img/logo.png" type="image/x-icon")
    title #{titulo}
    link(rel='preconnect', href='https://fonts.googleapis.com')
    link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin)
    link(href='https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap', rel='stylesheet')
    link(rel="stylesheet" href="css/styles.min.css")
    script(src="js/scripts.min.js", async defer)

    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
