header.header
    .container
        .row
              
            .col-12.header--navegacion
                nav.navbar-expand-lg
                    #logo-brand
                        picture 
                            source(srcset="/img/header/logo.webp", type="image/webp")
                            img(src="/img/header/logo.png", alt="Home - Nav")

                    .btn(data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
                        
                    div.collapse.navbar-collapse#navbarNav
                        ul
                            li#li-s1.nav-item 
                              a.nav-link(href="#porque") #[span Por qué]
                            li#li-s2.nav-item 
                              a.nav-link(href="#lotes") #[span Lotes]
                            li#li-s3.nav-item 
                              a.nav-link(href="#contacto") #[span Contacto]
                            li#li-s4.nav-item.chat
                              a.nav-link(href="#") #[span Iniciar Chat]

                            

                           
                            
