.modal.fade(id='' + idmodal tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        .container
          .col-12
            .title-area
              h2.h1 #{titulomodal}
              button.btn.btn-secondary.button-modal-close(type='button' data-dismiss='modal') X
      .modal-body
        .container
          .col-12
            .list-area
              .list-item-flex
                .icon-area
                  img(src="img/lotes/area.webp")
                p #{areatotal}
              .list-item-flex
                .icon-area
                  img(src="img/lotes/location.webp")
                p #{ubicacion}
              .list-item
                p
                  spam #{lote1}
                p
                  spam #{lote2}
                p
                  spam #{lote3}
              .buttons
                a.button-modal(href="#") 360°
                a.button-modal(href="#") Geolocalización
                a.button-modal(href="#") Plano
            .video-area
              iframe(src='https://www.youtube.com/embed/a_zk4JFK43g' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share' allowfullscreen='')
            .text-area
              p #{texto}
            .button-area
              a.button-more(data-dismiss='modal' type="button") Quiero saber más
      .modal-footer


            //- img.img-fluid.circulo(src="../../img/circulo.png", alt="")
