.home{

  .hero{
    padding: 40px 0;
    position: relative;
    min-height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner{
    padding: 140px 0 0 0;

  }
  .inversiones{
    padding: 100px 0;
    @media (max-width: 991px){
      padding: 50px 0 0 0;
    }
    .title-area{
      h2.h1{
        margin-bottom: 0;
        @media (max-width: 480px){
          margin-bottom: 30px;
        }
      }
    }
    .col-flex{
      display: flex;
      flex-direction: column;
      .text-area{
        @media (max-width: 480px){
          margin-bottom: 30px;
        }
        p{
          font-family: "Lato";
          font-size: 1.5em;
          line-height: 40px;
          font-weight: lighter;
          @media (max-width: 480px){
            font-size: 18px;
            line-height: 20px;
          }
        }
      }
      .button-area{
        margin-top: auto;
      }
    }
  }
  .why-terre{
    padding: 100px 0 0 0;
    @media (max-width: 480px){
      padding: 50px 0 0 0;
    }
    .subtitle-area{
      p{
        span{
          font-family: "Lato";
          font-size: 2em;
          line-height: 40px;
          font-weight: 700;
          @media (max-width: 480px){
            font-size: 20px;
            line-height: 20px;
          }
        }
      }
    }
    .items-flex{
      padding: 100px 0;
      display: flex;
      justify-content: center;
      @media (max-width: 767px){
        flex-wrap: wrap;
        padding: 50px 0 0 0;
      }
      @media (min-width: 768px){
        padding: 50px 0 0 0;
      }
      .item-area{
        .img-area{
          height: 80px;
          text-align: center;
          @media (max-width: 480px){
            height: 60px;
          }
        }
      }
      .text-area{
        margin-top: 65px;
        text-align: center;
        @media (max-width: 480px){
          margin-top: 30px;
        }
        p{
          font-family: "Lato";
          font-weight: lighter;
          font-size: 1.25em;
          @media (max-width: 480px){
            font-size: 0.75em;
          }
        }
      }
    }

  }
  .lotes{
    padding: 100px 0 0 0;
    @media (max-width: 991px){
      padding: 50px 0 0 0;
    }
    .title-area{
      margin-bottom: 60px;
      @media (max-width: 480px){
        margin-bottom: 20px;
      }
    }
    .grid-lotes{
      display: grid;
      grid-gap: 30px;
      grid-template-columns: repeat(2, 1fr);
      @media (max-width: 991px){
        grid-template-columns: repeat(1, 1fr);
      }
      .lote-area{
        .img-area{
          position: relative;
          @media (max-width: 480px){
            height: 300px;
          }
          .plus-area{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100px;
          }
          img{
            @media (max-width: 480px){
              height: 100%;
            }
          }
        }
      }
    }
  }
  &--pasos{

    &__paso{
      margin-bottom: 15px;

      h2{
        color: var(--primaryColor);
        font-size: 80px;
        font-family:var(--primariaBold);
      }

      h3{
        color: var(--secondaryColor);
        margin-left: 20px;
        font-size: var(--h3);

        b{
          font-family: var(--secundariaBold);
        }
      }

      &:nth-child(2){
        margin-left: 40px;
      }

      &:nth-child(3){
        margin-left: 80px;
      }

    }
  }

  &--pleca{
    padding: 20px;

    h4{
      font-size: var(--h2);
      text-align: center;
      font-family: var(--secundariaBold);
      text-decoration: underline;
      cursor: pointer;
      transition: .3s ease-in-out all;

      &:hover{
        color: var(--vino);
      }
    }
  }

  &--fecha{
    font-size: var(--h5);
    color: var(--secondaryColor);
    text-align: center;
    margin: 20px auto;
  }


  @media not all and (min-resolution:.001dpcm){ @supports (-webkit-appearance:none) {

  }}
}
