



/// TEXTOS

h1,h2,h3,h4,h5,h6{
    line-height: 1.3;
    color: var(--negro);
}
p{
  color: var(--negro);
}
.h1{
  font-family: "Lato";
  font-size: 3.5em;
  line-height: 72px;
  font-weight: 700;
  @media (max-width: 480px){
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 60px;
  }
  @media (min-width: 481px) and (max-width: 991px) {
    font-size: 45px;
  }
}

h2{
  font-family: "Lato";
  font-size: 3em;
  line-height: 60px;
  font-weight: 700;
  @media (max-width: 480px){
    font-size: 30px;
  }
}

h3{
  font-family: "Lato";
  font-size: 2.5em;
  font-weight: 700;
  @media (max-width: 480px){
    font-size: 25px;
  }
}
h2.titulos{
    color: var(--secondaryColor);
    text-align: center;
}

.button-more{
  background-color: var(--verde-oscuro);
  font-family: "Lato";
  font-size: 1.125em;
  font-weight: 700;
  border: none;
  color: white;
  padding: 5px 20px;
  text-decoration: none;
  @media (max-width: 480px){
    padding: 10px 30px;
  }
}

.button-more:hover{
  background-color: var(--verde-lima);
}

.button-modal{
  background-color: var(--verde-oscuro);
  font-family: "Lato";
  font-size: 1.125em;
  font-weight: 700;
  border: none;
  color: white;
  padding: 5px 20px;
  width: 190px;
  text-align: center;
  text-decoration: none;
}

.button-modal:hover{
  background-color: var(--verde-lima);
}

.button-modal-close{
  background-color: #fff;
  font-family: "Lato";
  font-size: 1.125em;
  font-weight: 700;
  border: none;
  color: Black;
  padding: 5px 20px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  margin-left: auto;
}

.button-modal-close:hover{
  background-color: var(--verde-lima);
}


.list-area{
  margin-top: 30px;
  .list-item-flex{
    display: flex;
    .icon-area{
      position: relative;
      min-width: 20px;
      height: auto;
      margin-right: 15px;
      @media (max-width: 480px){
        min-width: 15px;
      }
      img{
        position: absolute;
        min-width: 20px;
        top: 9px;
        @media (max-width: 480px){
          min-width: 15px;
          top: 0;
        }
      }
    }
    p{
      text-align: left;
      font-family: "Lato";
      font-weight: 700;
      font-size: 1.6em;
      line-height: 40px;
      margin-bottom: 0;
      @media (max-width: 480px){
        font-size: 20px;
        line-height: 25px;
      }
    }
  }
  .list-item{
    padding-left: 35px;
    text-align: left;
    p{
      font-family: "Lato";
      font-weight: 700;
      font-size: 1.6em;
      line-height: 40px;
      margin-bottom: 0;
      color: #5C986B;
      @media (max-width: 480px){
        font-size: 20px;
        line-height: 25px;
      }
    }
  }
}
.linkBoton{
    width: max-content;
    margin: auto;
}

img{
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}
