- titulo = "Site Title Home"
- tituloCabecera = "Headline"
- var subtituloCabecera = "Lorem ipsum dolor sit amet."

doctype
html(lang='es')

    include includes/head.pug

    body
        include includes/header.pug
        main.home
            section.banner
              .container
                .col-12
                  .img-area
                    img(src="/img/banner-placeholder.webp")
            section.inversiones
              .container
                .d-md-flex
                  .col-md-5
                    .title-area
                      h2.h1 Inversiones sostenibles rentables e inteligentes en Panamá
                  .col-md-6.offset-md-1.col-flex
                    .text-area
                      p Panamá te ofrece estabilidad económica y política tanto para locales como extranjeros.
                      p En Terre te asesoramos con todo lo que necesitas para que tu inversión sea placentera y acertada.
                    .button-area
                      a.button-more(href="#") Quiero saber más
            section.why-terre#porque
              .container
                .d-md-flex
                  .col-md-5
                    .title-area
                      h2 ¿Por qué Terre?
                  .col-md-6.offset-md-1
                    .subtitle-area
                      p
                        span Somos especialistas en inversión inteligente, rentable y sostenible.
                .items-flex
                  .col-6.col-md-3
                    .item-area
                      .img-area
                        img(src="/img/why-terre/terrenos.webp")
                      .text-area
                        p Terrenos titulados con plan de reforestación aprobado
                  .col-6.col-md-3
                    .item-area
                      .img-area
                        img(src="/img/why-terre/negociacion.webp")
                      .text-area
                        p Negociación directa y acompañamiento profesional
                  .col-6.col-md-3
                    .item-area
                      .img-area
                        img(src="/img/why-terre/rentable.webp")
                      .text-area  
                        p Reforestación rentable a largo plazo
                  .col-6.col-md-3
                    .item-area
                      .img-area
                        img(src="/img/why-terre/beneficios.webp")
                      .text-area  
                        p Beneficios migratorios
            section.lotes#lotes
              .container
                .col-12
                  .title-area
                    h2 Conoce nuestros lotes
                  .grid-lotes
                    .lote-area
                      h3 Aguas Frías
                      .img-area
                        img(src="/img/banner-placeholder.webp")
                        button.btn.plus-area(type='button' data-toggle='modal' data-target='#modalAguasFrias')
                          img(src="/img/lotes/plus.webp")
                      .list-area
                        .list-item-flex
                          .icon-area
                            img(src="img/lotes/area.webp")
                          p Área Total: 5ha + 7,706 m2
                        .list-item-flex
                          .icon-area
                            img(src="img/lotes/location.webp")
                          p Panamá l Provincia de Coclé Corregimiento La Pintada
                    .lote-area
                      h3 Icaco
                      .img-area
                        img(src="/img/banner-placeholder.webp")
                        button.btn.plus-area(type='button' data-toggle='modal' data-target='#modalIcaco')
                          img(src="/img/lotes/plus.webp")
                      .list-area
                        .list-item-flex
                          .icon-area
                            img(src="img/lotes/area.webp")
                          p Área Total: 1ha + 4,826 m2
                        .list-item-flex
                          .icon-area
                            img(src="img/lotes/location.webp")
                          p Panamá l Provincia de Colón Corregimiento Miguel de la Borda
                    .lote-area
                      h3 La Chorrerita
                      .img-area
                        img(src="/img/banner-placeholder.webp")
                        button.btn.plus-area(type='button' data-toggle='modal' data-target='#modalLaChorrerita')
                          img(src="/img/lotes/plus.webp")
                      .list-area
                        .list-item-flex
                          .icon-area
                            img(src="img/lotes/area.webp")
                          p Área Total: 8ha + 6,300 m2
                        .list-item
                          p
                            spam Lote 1: 3 ha + 6,300 m2
                          p
                            spam Lote 1: 3 ha + 6,300 m2
                          p
                            spam Lote 1: 3 ha + 6,300 m2  
                        .list-item-flex
                          .icon-area
                            img(src="img/lotes/location.webp")
                          p Panamá l Provincia de Penonomé Corregimiento Coclé
                    .lote-area
                      h3 Pocrí
                      .img-area
                        img(src="/img/banner-placeholder.webp")
                        button.btn.plus-area(type='button' data-toggle='modal' data-target='#modalPocrí')
                          img(src="/img/lotes/plus.webp")
                      .list-area
                        .list-item-flex
                          .icon-area
                            img(src="img/lotes/area.webp")
                          p Área Total: 4ha + 6,100 m2
                        .list-item
                          p
                            spam Lote 1: 3 ha + 6,300 m2
                          p
                            spam Lote 1: 3 ha + 6,300 m2
                          p
                            spam Lote 1: 3 ha + 6,300 m2
                        .list-item-flex
                          .icon-area
                            img(src="img/lotes/location.webp")
                          p Panamá l Provincia de Los Santos Corregimiento de Paraíso      
            include includes/contact-form.pug            
                
              

        - var idmodal = "modalAguasFrias"
        - var titulomodal = "Aguas Frías"
        - var areatotal = "Área Total: 5ha + 7,706 m2"
        - var ubicacion = "Panamá l Provincia de Coclé Corregimiento La Pintada"
        - var texto = "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum"        
        include includes/modal.pug
        - var idmodal = "modalIcaco"
        - var titulomodal = "Icaco"
        - var areatotal = "Área Total: 1ha + 4,826 m2"
        - var ubicacion = "Panamá l Provincia de Colón Corregimiento Miguel de la Borda"
        - var texto = "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum"  
        include includes/modal.pug
        - var idmodal = "modalLaChorrerita"
        - var titulomodal = "La Chorrerita"
        - var areatotal = "Área Total: 8ha + 6,300 m2"
        - var lote1 = "Lote 1: 3 ha + 6,300 m2"
        - var lote2 = "Lote 1: 3 ha + 6,300 m2"
        - var lote3 = "Lote 1: 3 ha + 6,300 m2"
        - var ubicacion = "Panamá l Provincia de Penonomé Corregimiento Coclé"
        - var texto = "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum"  
        include includes/modal.pug
        - var idmodal = "modalPocrí"
        - var titulomodal = "Pocrí"
        - var areatotal = "Área Total: 4ha + 6,100 m2"
        - var lote1 = "Lote 1: 3 ha + 6,300 m2"
        - var lote2 = "Lote 1: 3 ha + 6,300 m2"
        - var lote3 = "Lote 1: 3 ha + 6,300 m2"
        - var ubicacion = "Panamá l Provincia de Los Santos Corregimiento de Paraíso"
        - var texto = "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum"  
        include includes/modal.pug
        
        include includes/footer.pug
        
