.footer{
  .content {
    padding: 50px 0;
    box-shadow: 0 4px 8px rgba(0,0,0,.4);
    background-color: #f8f8f8;

    img {
      width: 250px;
    }
    a{
      display: block;
      text-align: right;
      color: inherit;
      font-weight: bold;
      font-size: 1em;
    }
  }
  .col{
    display: flex;
    justify-content: space-between;
  }
  .disclaimer {
    padding: 10px 0;
    p {
      font-size: 12px;
      font-weight: 300;
      color: #93999c;
      margin: 0;
    }
    .termns {
      display: flex;

      a{
        font-size: 12px;
        font-weight: 300;
        color: #93999c;
        display: block;
      }
      p {
        color: #93999c;
        margin: 0 10px;
      }
    }
  }
}
