.header{
    width: 100%;
    z-index: 999;
    position: fixed;
    transition: .3s ease-in-out all;
    box-shadow: 0 4px 8px rgba(0,0,0,.4);
    background-color: #f8f8f8;
    height: 120px;

    .container{
        height: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
        padding: 0 30px;

        .row{
            width: 100%;

            [class*="col-"]{
                padding: 0;
            }
        }

    }


    &--navegacion{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        #logo-brand{
            position: absolute;
            top: 12px;;

            img {
              width: 250px;
            }
        }

        .navbar-expand-lg{
            width: 100%;
        }
        .navbar-collapse{
            justify-content: flex-end;
        }

        .btn{
            width: 40px;
            height: 40px;
            // background: url("../img/iconHam.webp") no-repeat center / contain;
            transition: .2s ease-in-out all;
            position: absolute;
            right: 0;
            margin: 1em auto;

            &.nav-on{
                // background: url("../img/close.svg") no-repeat center / 25px;
            }
        }

        #navbarNav{
            // position: fixed;

            ul{
                max-width: 720px;
                width: 100%;
                padding: 0;
                margin: 0;
                display: flex;
                justify-content: flex-end;

                li{
                    text-align: left;
                    list-style: none;
                    margin: 1em;
                    cursor: pointer;
                    font-size: 1em;

                    a{
                        color: inherit;
                        text-decoration: none;
                    }

                    &:hover:not(.chat), &.activo{
                        background-color: var(--verde-lima);
                        color: var(--secondaryColor);
                    }
                    &.chat{
                      background-color: var(--verde-lima);
                      &:hover {
                        background-color: var(--verde-oscuro);
                      }
                      a{
                        color: var(--secondaryColor);
                        font-size: 1em;
                      }
                    }
                    img{
                        transition: .3s ease-in-out all;
                    }
                }
            }
        }

    }

    &.activo{

//         background: rgba(0,0,0,1);
// background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(119,2,0,1) 68%, rgba(175,3,0,0) 100%);
// background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(68%, rgba(119,2,0,1)), color-stop(100%, rgba(175,3,0,0)));
// background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(119,2,0,1) 68%, rgba(175,3,0,0) 100%);
// background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(119,2,0,1) 68%, rgba(175,3,0,0) 100%);
// background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(119,2,0,1) 68%, rgba(175,3,0,0) 100%);
// background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(119,2,0,1) 68%, rgba(175,3,0,0) 100%);
// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#af0300', GradientType=0 );

        ul li img{
            width: 100px;
        }
    }
}
