// **** \\ STYLES_CSS // **** //

* {
  font-family: 'Lato', sans-serif;;
  letter-spacing: 0;
}
html, body{
  scroll-behavior: smooth;
}
body {
  background: #fbfbfb;
  overflow-x: hidden !important;


  @import "header";
  @import "footer";
  @import "pages/stylesGenerals";
  @import "pages/_home";
  @import "pages/_faqs";
}
